.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* İçeriği yukarıda hizalamak için */
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  overflow-x: hidden; /* Yatay kaydırmayı gizlemek için */
  overflow-y: auto; /* Dikey kaydırmayı etkinleştirir */
}

.App.light {
  background-image: url('../assets/gunesli.png');
}

.App.dark {
  background-image: url('../assets/gece.png');
}

header {
  width: 100%; /* Header genişliğinin sayfa ile uyumlu olması için */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

main {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.todo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; /* Kartların sığmadığı durumda alt satıra geçmesini sağlar */
  gap: 20px; /* Kartlar arasında boşluk bırakır */
  width: 100%;
  max-width: 1200px; /* Maksimum genişlik */
}

.todo-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px); /* Genişliği kartlar arasında boşluk bırakacak şekilde ayarlamak */
  max-width: 500px;
  height: 150px;
}

.todo-title {
  margin-bottom: 10px;
}

.category-wrapper {
  display: flex;
  justify-content: flex-start; /* Kartları sol tarafa hizalar */
  align-items: flex-start;
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  max-width: 100%; /* Genişlik ayarı eklenerek boşluk sorununu gideriyoruz */
}

.category-wrapper > * {
  flex: 0 0 auto;
  margin-right: 16px;
}

.category-wrapper::-webkit-scrollbar {
  height: 8px;
}

.category-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.category-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Yeni liste ekleme formu */
.new-list-form {
  width: 100%; /* Form genişliğini konteynerin genişliğine ayarlamak */
  max-width: 300px; /* Maksimum genişlik belirleyerek formun çok geniş olmasını engellemek */
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.new-list-form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-list-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #28a745;
  cursor: pointer;
}

.new-list-form button.close-btn {
  background-color: #dc3545;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.new-list-form button.close-btn:before {
  content: '✖';
  font-size: 16px;
  color: white;
}

.new-list-form button.close-btn:hover {
  background-color: #c82333;
}

.new-list-form button:hover {
  background-color: #218838;
}
