.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.App.light {
  background-image: url('../assets/gunesli.png');
}

.App.dark {
  background-image: url('../assets/gece.png');
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 20px;
}

header h1 {
  margin-bottom: 20px;
}

header input, header button {
  margin: 5px;
}

main {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.todo-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 150px;
}

.todo-title {
  margin-bottom: 10px;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 10px 0;
}

.category-wrapper::-webkit-scrollbar {
  height: 8px;
}

.category-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.category-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.category-wrapper > * {
  flex: 0 0 auto;
  margin-right: 16px;
}

/* Yüklenme Animasyonu */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tam ekran yükseklik */
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
