.archive-page {
  padding: 20px;
  background-color: transparent;
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  max-width: 100%;
}

.category-group {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 300px;
  min-width: 300px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: left; /* Kategori başlığını sola hizalar */
}

.task-card {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: left; /* Kart içindeki tüm metni sola hizalar */
}

.task-card p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
  text-align: left; /* Task metnini sola hizalar */
}

.task-buttons {
  display: flex;
  justify-content: space-between;
}

.action-text {
  cursor: pointer;
  font-size: 14px;
}

.restore-text {
  color: #28a745; /* Yeşil renk */
}

.delete-text {
  color: #dc3545; /* Kırmızı renk */
}
