.category-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 16px;
  background: none; /* Remove background */
  border-radius: 8px;
  margin: 16px auto;
  max-width: 100%;
  box-shadow: none; /* Remove box shadow */
}

.category-container::-webkit-scrollbar {
  height: 8px;
}

.category-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.category-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.category-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 6px;
  padding: 6px;
  width: 320px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.remove-category {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: 16px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  position: relative;
  padding: 8px;
  padding-right: 32px; /* Sağ tarafta boşluk bırakıyoruz */
  margin-bottom: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
  text-align: left;
  white-space: normal;
}

.task-text-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-item span.task-text {
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
  white-space: normal;
  flex: 1;
}

.task-item:hover .edit-task-icon {
  visibility: visible;
}

.edit-task-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.task-dates {
  font-size: 0.75rem; /* Tarihlerin yazı boyutunu küçültmek için */
  color: #999;
  display: flex;
  align-items: center;
}

.task-input {
  margin-top: 16px;
}

.task-input input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.task-input button {
  margin-top: 8px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.task-input button:hover {
  background-color: #0056b3;
}

.add-task-link {
  margin-top: 16px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  color: #007bff;
}

.add-category {
  margin-top: 16px;
}

.add-category input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-category-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.add-category-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-category-actions .cancel-button {
  background-color: #d9534f;
  color: #fff;
}

.add-category-actions button:not(.cancel-button) {
  background-color: #5cb85c;
  color: #fff;
}
