@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body.login-page, html.login-page {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-text {
    position: absolute;
    top: 40%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: left; 
    border-radius: 10px;
    max-width: 40%; 
    z-index: 1;
    font-size: 36px; /* İlk verdiğiniz boyut geri getirildi */
    font-family: 'Open Sans', sans-serif;
    animation: slideInFromLeft 1s ease-out;
}

.login-button {
    position: absolute;
    top: 75%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #4285F4, #34A853, #FBBC05, #EA4335); /* Gökkuşağı animasyonu için gerekli */
    background-size: 400% 400%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    animation: gradientBackground 3s ease infinite; /* Gökkuşağı animasyonu */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button i {
    margin-right: 10px;
    font-size: 20px;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-button:hover {
    background-color: #357ae8;
}

@keyframes slideInFromLeft {
    0% {
        transform: translate(-150%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
