.moving-bar {
    position: fixed;
    top: 50px; /* Header'ın altına yerleştirmek için */
    left: 0; /* Ekranın soluna hizalanır */
    width: 100%; /* Tam genişlikte */
    height: 50px; /* Barın yüksekliği */
    background-color: rgba(255, 255, 255, 0.3); /* Daha fazla saydamlık */
    backdrop-filter: blur(15px); /* Bulanıklık efekti arttırıldı */
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 998; /* Header'dan bir altta */
    display: flex; /* Flexbox düzeni */
    align-items: center; /* Dikeyde ortalama */
    justify-content: space-between; /* İki uca yayılma */
    padding: 0 20px; /* İç kenar boşlukları */
  }
  
  .moving-bar.sidebar-open {
    transform: translateX(250px); /* Sidebar açıkken sağa doğru kayma */
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }
  
  .view-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px; /* Barın hemen altında yer alacak */
    left: 85%;
    transform: translateX(-50%);
    background: white;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 999; /* Barın üzerinde yer alacak */
    width: 240px; /* Kutu genişliği */
  }
  
  .view-form input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* Genişlik azaltıldı */
  }
  
  .share-button, .view-button, .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 50px; /* Butonları biraz sola almak için sağ kenar boşluğu */
  }
  
  .share-button:hover, .view-button:hover, .submit-button:hover {
    background-color: #0056b3;
  }
  